body {
    background: rgb(4,4,4);
    background: linear-gradient(90deg, rgba(4,4,4,0.9640231092436975) 0%, rgba(138,79,65,1) 0%, rgba(190,197,199,1) 100%, rgba(182,182,182,1) 100%);
}

.cell {
    height: 10vw;
    outline: 1px solid black;
    background-color: #777;
    transition: background-color 750ms;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}
